*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Crimson Text", serif;

  @include desktop {
    font-size: 56.25%;
  }
  @include tablet {
    font-size: 50%;
  }
  @include mobile {
    font-size: 50%;
  }
}
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2rem;
}
button:focus {
  outline: none;
  background-color: transparent;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
