.contact {
  margin-top: 1.5rem;
  align-items: flex-start;
  &_info {
    display: flex;
    &-title {
      font-size: 1.6rem;
    }
    &-detail {
      padding: 0.26rem;
      color: #777777;
      font-size: 1.4rem;
      &-address {
        color: #1b73e9;
      }
    }
  }
}
